<!DOCTYPE html>
<html lang="en">
<head>
    <title>ReTopoServer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>

<body>
    <h1>HELLO SEÑOR METATOMATO!!</h1>
     <p><a href="/static/media/kyoto_journey.png" download>DOWNLOAD</a></p>

</body>

<script src="/static/jQuery/jquery.js"></script>

<script>


(function($) {
//var url = 'http://localhost:8000/retopo/topo';
var url = 'http://retopo.cloud.iglou.gl/retopo/topo';

    $.ajax({
       type: 'GET',
        url: url,
        data:{'user_id':'metatomato'},
        async: false,
        jsonpCallback: 'topoRequest',
        contentType: "application/json",
        dataType: 'jsonp',
        success: function(json) {
           console.log(json.topo[0].properties.comment);
        },
        error: function(e) {
           console.log(e.message);
        }
    });

})(jQuery);




</script>

</html>